-
  var docmap = {
    overview: {
      url: 'index.html',
      title: 'Overview',
      pageTitle: 'awsm.css',
      description: 'Simple CSS library for semantic HTML markup'
    },
    elements: {
      url: 'elements.html',
      title: 'Elements',
      header: true,
      description: 'All stuff that awsm.css can make beautiful'
    },
    download: {
      url: 'download.html',
      title: 'Download',
      header: true,
      description: 'Download the minified version or use unpkg, npm and so on'
    },
    plugins: {
      url: 'plugins.html',
      title: 'Plugins',
      header: true,
      description: 'Photo gallery, code highlighting, image zoom and so on'
    },
    github: {
      url: 'https://github.com/igoradamenko/awsm.css',
      title: 'GitHub',
      blank: true
    }
  }
