//- Maps
$font-map: (
  'mono': (Consolas, Courier, monospace),
  'sans': ('PT Sans', Helvetica, Arial, sans-serif),
  'serif': ('PT Serif', Georgia, serif),
);

$size-map: (
  'font-min': 16px,
  'font-max': 20px,
  'line-height-min': 1.2,
  'line-height-max': 1.6,
  'width-min': 320px,
  'width-max': 640px,
);

$color-map: (
  'primary': #000,
  'secondary': #fff,
  'stealthy': #aaa,
);

//- Functions
@function font($key) {
  @return map-get($font-map, $key);
}

@function size($key) {
  @return map-get($size-map, $key);
}

@function color($key) {
  @return map-get($color-map, $key);
}
