-
  var docmap = {
    overview: {
      url: 'index.html',
      title: 'Overview',
      pageTitle: 'awsm.css'
    },
    elements: {
      url: 'elements.html',
      title: 'Elements'
    },
    download: {
      url: 'download.html',
      title: 'Download'
    },
    plugins: {
      url: 'plugins.html',
      title: 'Plugins'
    },
    github: {
      url: 'https://github.com/igoradamenko/awsm.css',
      title: 'GitHub',
      blank: true
    }
  }
