include _mixins.pug

+page("plugins")
  h1 Plugins

  p There are some plugins that I advice you to use with awsm.css.

  section#fotorama
    h2 Fotorama

    p
      | It's simple and powerful jQuery gallery by Artem Polikarpov. Homepage of the plugin —
      = ' '
      a(href="http://fotorama.io/", title="Fotorama") fotorama.io
      | .
      | Demo:

    .fotorama(data-width="700", data-ratio="700/467", data-max-width="100%")
      - var ids = [1, 2, 9, 6, 5];

      each id in ids
        img(src="http://s.fotorama.io/okonechnikov/" + id + "-lo.jpg")

    p
      | Photos
      = ' '
      a(href="http://okonet.ru/") by Andrey Okonetchnikov

  section#highlightjs-prismjs
    h2 highlight.js & prism.js

    p
      | The best syntax highlight libraries. First of them has more themes, but sometimes second works better.
      | Which one to use? Up to you.

    p
      | Homepages:
      = ' '
      a(href="https://highlightjs.org/", title="highlight.js") highlightjs.org
      = ' '
      | &
      = ' '
      a(href="http://prismjs.com/", title="http://prism.js") prismjs.com
      | .
      | Demo of prism.js you can see below.

    pre(style="padding: 0")
      code.language-scss
        -
          var code = '/* Create a border-triangle\n' +
          ' * params:\n' +
          ' *    $direction: [top, right, bottom, left]\n' +
          ' *    $size\n' +
          ' *    $color\n' +
          ' *    $type: `display` value\n' +
          ' */\n' +
          '@mixin triangle($direction, $size, $color, $mode: \'normal\', $type: inline-block) {\n' +
          '  display: $type;\n' +
          '  $direction-map: (\n' +
          '    \'top\': \'bottom\',\n' +
          '    \'right\': \'left\',\n' +
          '    \'bottom\': \'top\',\n' +
          '    \'left\': \'right\'\n' +
          '  );\n' +
          '  $opposite-direction: map-get($direction-map, $direction);\n' +
          '\n' +
          '  @each $d in top right bottom left {\n' +
          '    @if $d == $opposite-direction {\n' +
          '      border-#{$d}: $size solid $color;\n' +
          '    }\n' +
          '    @else {\n' +
          '      @if $d != $direction {\n' +
          '        @if $mode == \'normal\' {\n' +
          '          border-#{$d}: $size solid transparent;\n' +
          '        }\n' +
          '\n' +
          '        @if $mode == \'wide\' {\n' +
          '          border-#{$d}: $size * 1.5 solid transparent;\n' +
          '        }\n' +
          '      }\n' +
          '    }\n' +
          '  }\n' +
          '}'

        = code

  script(src="https://code.jquery.com/jquery-1.10.2.min.js")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.css")

  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism-solarizedlight.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/components/prism-scss.min.js")

  style.
    /* remove prism.js paddings */
    pre[class*=language-] {
      padding: 0;
    }
