doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Igor Adamenko
    link(rel="stylesheet", href="../../css/awsm.min.css")

  body
    header
      //- just leave it empty for additional space :)

    main
      article
        p Hello.

        p My name is Igor Adamenko.

        p
          | I create web applications in
          = ' '
          a(href="https://funbox.ru", target="_blank") FunBox
          | .

        p
          | In my spare time I
          = ' '
          a(href="https://github.com/igoradamenko/", title="My GitHub Profile") take a part
          = ' '
          | in Open Source.

        br

        p
          | Drop me a line on
          = ' '
          a(href="mailto:mail@igoradamenko.com") mail@igoradamenko.com
          | .

    footer
      //- just leave it empty for additional space :)
